body {
    /*width: 900px;
    height: 600px;*/
    border: 2px solid red;
    display: flex;
}

.control {
    flex: 1;
}

.control .color-picker {
    width: 100px;
    height: 65px;
    cursor: pointer;
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 73px;
    vertical-align: middle;
}

#clear-all {
    width: auto;
    border: 2px solid black;
    margin: 2px;
}

#draw {
    cursor: pointer;
    border-left: 2px solid black;
}